## Constructor
export("DistributedList")

## Generic functions
export("as.DistributedList")

#export("DSL_lapply")
export("DSL_gather")
#export("DSL_reduce")

## Methods on DistributedList
S3method("[[", "DistributedList")
##S3method("[[<-", "DistributedList")
S3method("length", "DistributedList")
S3method("names", "DistributedList")
S3method("names<-", "DistributedList")
S3method("print", "DistributedList")
##S3method("summary", "DistributedList")


## Methods on Corpus
S3method("as.DistributedList", "list")
S3method("as.DistributedList", "DistributedList")
S3method("as.list", "DistributedList")


## Storage backend
export("NewDistributedStorage",
       "DistributedStorage",
       "DistributedStorage<-",
       "as.DistributedStorage",
       "is.DistributedStorage")

S3method("DistributedStorage", "DistributedList")
S3method("DistributedStorage", "DistributedStorage")
S3method("DistributedStorage<-", "DistributedList")
S3method("as.DistributedStorage", "DistributedStorage")

S3method("print", "DistributedStorage")
S3method("summary", "DistributedStorage")
