import("tm")
import("DSL")
import("slam")

## Constructor (second constructor for compatibility reasons)
export("DCorpus", "DistributedCorpus")

## Revisions
export("getRevisions")
export("setRevision")
export("removeRevision")

## Generic functions
export("as.DCorpus", "as.DistributedCorpus")
export("as.Corpus")

## Methods on DistributedCorpus
S3method("DMetaData", "DCorpus")
S3method("print", "DCorpus")
S3method("summary", "DCorpus")
S3method("TermDocumentMatrix", "DCorpus")
S3method("tm_map", "DCorpus")

## Methods on Corpus
S3method("as.DCorpus", "Corpus")
S3method("as.DCorpus", "DCorpus")
S3method("as.Corpus", "Corpus")
S3method("as.Corpus", "DCorpus")
