export("DistributedCorpus")
export("setRevision")

S3method("print", "DistributedCorpus")
S3method("[[", "DistributedCorpus")
S3method("print", "DistributedCorpus")
S3method("summary", "DistributedCorpus")
S3method("tm_map", "DistributedCorpus")

