import("tm")
useDynLib("tm.plugin.dc")

## Constructor
export("DistributedCorpus")

## Helper functions
export("setRevision")
export("getRevisions")

## Generic functions
export("as.DistributedCorpus")

## Methods on DistributedCorpus
S3method("[[", "DistributedCorpus")
S3method("DMetaData", "DistributedCorpus")
S3method("length", "DistributedCorpus")
S3method("print", "DistributedCorpus")
S3method("summary", "DistributedCorpus")
S3method("TermDocumentMatrix", "DistributedCorpus")
S3method("tm_map", "DistributedCorpus")

## Methods on Corpus
S3method("as.DistributedCorpus", "Corpus")
S3method("as.DistributedCorpus", "DistributedCorpus")

## Storage functions
export("dcStorage",
       ".dc_storage_init",
       ".dc_storage")

S3method("print", "dc_storage")
S3method("summary", "dc_storage")
