export(## the hive
       "hive",
       ## System handlers
       ".hinit",
       "hive_create",
       "hive_start",
       "hive_stop",
       "hive_is_available",
       ## DFS wrappers
       "DFS_cat",
       "DFS_dir_create",
       "DFS_dir_exists",
       "DFS_dir_remove",
       "DFS_file_exists",
       "DFS_format",
       "DFS_get_object",
       "DFS_list",
       "DFS_put",
       "DFS_put_object",
       "DFS_read_lines",
       "DFS_tail",
       "DFS_write_lines",
       ## MapReduce functions
       "hive_stream",
       ## Configuration
       "hive_get_parameter",
       "hive_get_masters",
       "hive_get_slaves")

S3method("print", "hive")
